@import "../../style.scss";

.admin-container {
  .register-container {
    padding-top: 50px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://media.istockphoto.com/id/521812367/photo/stocked-shelves-in-grocery-store-aisle.jpg?b=1&s=170667a&w=0&k=20&c=RpGfG7xC6FZy9XogFZXPSbOW9J-57Q3UCmeUVGcfTZA=")
        no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    .register-wrapper {
      padding: 20px;
      width: 40%;
      background-color: white;
      margin-bottom: 300px;

      .title-container {
        display: flex;
        justify-content: space-between;
        .title {
          font-size: 24px;
          font-weight: 300;
          cursor: pointer;
        }
      }

      .form {
        display: flex;
        flex-direction: column;
        position: relative;

        .filter {
          margin: 20px 0px;
          display: flex;

          .filter-text {
            font-size: 20px;
            font-weight: 600;
            margin-right: 20px;
          }

          .select {
            padding: 10px;
            margin-right: 20px;
          }

          .input-field {
            display: flex;
            cursor: pointer;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .input {
              display: none;
            }
          }
        }
        .input {
          flex: 1;
          min-width: 40%;
          margin: 20px 10px 0px 0px;
          padding: 10px;
        }

        .agreement {
          font-size: 12px;
          margin: 20px 0px;
        }

        .button {
          width: 40%;
          border: none;
          padding: 15px 20px;
          background: teal;
          color: white;
          cursor: pointer;
        }
        .img-prev {
          height: 100px;
          width: 100px;
          position: absolute;
          left: 50%;
          bottom: 0;
        }
      }
    }
  }
}
