@import "../../style.scss";

.footer-container {
  display: flex;

  @include mobile {
    flex-direction: column;
  }
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .logo {
    }

    .desc {
      margin: 20px 0px;
    }

    .social-container {
      display: flex;

      .social-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
      }
    }
  }
  .center {
    flex: 1;
    padding: 20px;

    @include mobile {
      display: none;
    }

    .title {
      margin-bottom: 30px;
    }

    .list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      .list-item {
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  .right {
    flex: 1;
    padding: 20px;

    @include mobile {
      background-color: #fff8f8;
    }

    .title {
      margin-bottom: 30px;
    }

    .contact-item {
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .payment {
      width: 75%;
      cursor: pointer;
    }
  }
}
