@import "../../style.scss";

.cart-container {
  .cart-wrapper {
    padding: 20px;

    .title {
      font-weight: 300;
      text-align: center;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;

      .top-button {
        padding: 10px;
        font-weight: 600;
        cursor: pointer;
      }

      .top-texts {
        @include mobile {
          display: none;
        }
        .top-text {
          text-decoration: underline;
          cursor: pointer;
          margin: 0px 10px;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
      }

      .info {
        flex: 3;

        .product {
          display: flex;
          justify-content: space-between;

          @include mobile {
            flex-direction: column;
          }

          .product-detail {
            flex: 2;
            display: flex;

            .image {
              width: 200px;
            }

            .details {
              padding: 20px;
              display: flex;
              flex-direction: column;
              justify-content: space-around;

              .product-color {
                width: 20px;
                height: 20px;
                border-radius: 50%;
              }
            }
          }

          .price-detail {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .product-amount-container {
              display: flex;
              align-items: center;
              margin-bottom: 20px;

              .product-amount {
                font-size: 24px;
                margin: 5px;

                @include mobile {
                  margin: 5px 15px;
                }
              }
            }

            .product-price {
              font-size: 30px;
              font-weight: 200;

              @include mobile {
                margin-bottom: 20px;
              }
            }
          }
        }

        .HR {
          background-color: #eee;
          border: none;
          height: 1px;
          margin: 10px 0px;
        }
      }

      .summary {
        flex: 1;
        border: 0.5px solid lightgray;
        border-radius: 10px;
        padding: 20px;
        height: 50vh;

        .summary-title {
          font-weight: 200;
        }

        .summary-item {
          margin: 30px 0px;
          display: flex;
          justify-content: space-between;
        }

        .button {
          width: 100%;
          padding: 10px;
          background-color: black;
          color: white;
          font-weight: 600;
        }
      }
    }
  }
}
