@import "../../style.scss";

.navbar-container {
  height: 60px;

  @include mobile {
    height: 50px;
  }

  .wrapper {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      padding: 10px 0px;
    }

    .left {
      flex: 1;
      display: flex;
      align-items: center;

      .language {
        font-size: 14px;
        cursor: pointer;

        @include mobile {
          display: none;
        }
      }

      .searchContainer {
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        margin-left: 25px;
        padding: 5px;

        .input {
          border: none;
          @include mobile {
            width: 60%;
          }
        }
      }
    }
  }

  .center {
    flex: 1;
    text-align: center;

    .logo {
      cursor: pointer;
      font-weight: bold;
      @include mobile {
        font-size: 15px;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
      flex: 2;
    }

    .menuItem {
      font-size: 14px;
      cursor: pointer;
      margin-left: 25px;
      @include mobile {
        font-size: 12px;
        margin-left: 10px;
      }
      .user {
        display: flex;
        align-items: center;
        flex-direction: row;

        .profile {
          margin-left: 5px;
          border-radius: 50px;
          height: 30px;
          width: 30px;
        }
      }

      .logout-btn:hover {
        color: rgb(246, 89, 89);
        cursor: pointer;
      }

      .cart:hover {
        color: teal;
      }
    }
  }
}
